{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h2>Choose a new password</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.new_password1.label_tag }}<br>
      {{ form.new_password1 }}<br>
      {% if form.new_password1.errors %}
        <div class="error">{{ form.new_password1.errors }}</div>
      {% endif %}
      <br>
      {{ form.new_password2.label_tag }}<br>
      {{ form.new_password2 }}<br>
      {% if form.new_password2.errors %}
        <div class="error">{{ form.new_password2.errors }}</div>
      {% endif %}
      <br>
      <button type="submit">Reset Password</button>
    </form>
  </div>
{% endblock %}
